.income {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include tablet {
    height: 350px;
  }

  @include mobile {
    height: auto;
  }

  &__chart {

    @include tablet {
      justify-self: end;
    }
  }
}
