.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin-bottom: 30px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  &__search {
    grid-column: 1 / 3;
    position: relative;

    @include tablet {
      grid-column: 1 / 2;
    }

    input {
      width: 100%;
      border: none;
      height: 54px;
      padding: 16px 0 16px 56px;
      border-radius: 10px;
      background-color: $color-white;

      &::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $color-mid-grey;
      }
    }

    input:focus {
      outline: none;
    }

    svg {
      color: $color-mid-grey;
      position: absolute;
      left: 14px;
      top: 50%;
      margin-top: -13px;
    }
  }

  &__personal-add-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: $color-neon-blue;
    color: $color-white;
    transition: background-color $trans-03;

    &:hover {
      background-color: $transparent-neon-blue-03;
      transition: background-color $trans-03;
    }
  }

  &__personal {
    display: flex;
    align-items: center;

    @include mobile {
      margin: 0 0 20px 0;
      justify-content: end;
    }
  }

  &__personal-list {
    margin: 0 0 0 auto;

    @include mobile {
      margin-left: 40px;
    }
  }
}
