.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin-bottom: 30px;
  align-items: center;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    margin-bottom: 20px;
  }

  &__search {
    grid-column: 1 / 3;
    position: relative;

    @include tablet {
      grid-column: 1 / 2;
    }
  }
}
