.popular {
  display: flex;
  flex-direction: column;

  &__block {
    @include tablet {
      margin: 0 0 20px 0;
    }
  }

  &__link {
    margin-top: auto;
    align-self: center;
    transition: opacity $trans-03;

    &:hover {
      opacity: 0.3;
      transition: opacity $trans-03;
    }
  }
}
