.product {
  &__link {
    display: flex;
    align-items: center;

    @media (max-width: 1150px) {
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      grid-template-rows: min-content min-content;
    }

    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__deco {
    background-color: $color-ghost-white;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1150px) {
      grid-row: 1 / -1;
      grid-column: 1 / 2;
    }
  }

  &__info {
    margin: 0 0 0 15px;
  }

  &__name {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $color-mid-grey;
  }

  &__description {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-black-russian;
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-neon-blue;
    margin-left: auto;

    @media (max-width: 1150px) {
      grid-column: 2 / -1;
      grid-row: 2 / -1;
      margin-left: 15px;
    }

    @include tablet {
      margin-left: auto;
    }
  }
}
