.statistics {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 40px 0;

  &__title {
    padding: 0;
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $color-mid-grey;
  }

  span {
    width: 39px;
    height: 29px;
    border-radius: 100px;
    padding: 5px 8px;
    text-align: center;
    background-color: $color-white;
    color: $color-neon-blue;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    justify-self: end;
  }

  b {
    display: block;
    width: 100%;
    grid-row: 2 / -1;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: $color-black-russian;
  }
}

.statistics__block {
  width: 100%;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-row-gap: 10px;
}

.statistics__block--customers {
  border-radius: 16px 0px 0px 16px;
  background-color: $color-ghost-white-2;
}

.statistics__block--income {
  border-radius: 0px 16px 16px 0px;
  background-color: $color-ghost-white;
}
