.tools {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item:not(:first-child) {
    margin-left: 22px;
  }

  &__link {
    color: $color-mid-grey;

    svg {
      transition: color $trans-03;
    }

    &:hover {
      svg {
        color: $color-neon-blue;
        transition: color $trans-03;
      }
    }
  }

  &__link--unread {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-pale-green;
      top: -10px;
      right: -1px;
    }
  }
}
