@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Neue";

  font-display: swap;
  src:
    url("../fonts/neue-montreal-regular.woff2") format("woff2"),
    url("../fonts/neue-montreal-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Neue";

  font-display: swap;
  src:
    url("../fonts/neue-montreal-medium.woff2") format("woff2"),
    url("../fonts/neue-montreal-medium.woff") format("woff");
}
