body {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  font-family: $font-family--neue;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
