.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;

  @include mobile {
    padding: 0;
  }

  &__border {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-column-gap: 20px;
    border-radius: 25px;
    background-color: $color-ghost-white-2;

    @include tablet {
      grid-template-columns: 0.45fr 1fr;
      grid-column-gap: 15px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }
}
