// Colors

$color-white:                            #ffffff;
$color-black-russian:                    #1f1f20;
$color-mid-grey:                         #64696c;
$color-ghost-white:                      #f3f3f8;
$color-ghost-white-2:                    #f9f9fc;
$color-neon-blue:                        #454eec;
$color-malibu:                           #52b3f2;
$color-pale-green:                       #98f8a0;
$color-screamin-green:                   #43fd6c;
$color-golden-tainoi:                    #fdbe43;
$color-coral-red:                        #fd4343;

// Transparency

$transparent-neon-blue-03:               rgba(69, 78, 236, 0.3);
$transparent-mid-grey-03:                rgba(100, 105, 108, 0.3);

// Fonts

$font-family--neue:                      "Neue", "Arial", sans-serif;

// Animation

$trans-03:                               0.3s ease;

// Viewports

$vp--320:                                768px;
$vp--1024:                               1024px;
