.block {
  background-color: $color-white;
  border-radius: 16px;
  padding: 20px;

  @include mobile {
    padding: 10px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;

    @include tablet {
      margin: 0 0 15px 0;
    }

    @include mobile {
      margin: 0 0 10px 0;
    }
  }

  &__name {
    margin: 0;
  }
}

.block--overview,
.block--comments {
  padding: 20px 20px 10px;
}
