.custom-select {
  position: relative;
  width: auto;
  // padding: 9px 0 13px;
  display: flex;
  align-items: center;

  svg:first-of-type {
    width: 16px;
    height: 16px;
    color: $color-mid-grey;
  }

  select {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity $trans-03;

    &:hover {
      opacity: 0.3;
      transition: opacity $trans-03;
    }

    @media (hover: hover),
    screen and (min-width: 0\0) {

      &:focus {
        opacity: 1;
      }
    }

    &:focus {
      opacity: 1;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__list {
    position: absolute;
    bottom: 11px;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 16px;
    list-style: none;
    background-color: $color-white;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    transition: visibility $trans-03, opacity $trans-03;
  }

  &__item:not(:last-child) {
    margin-bottom: 13px;
  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-family: $font-family--neue;
    color: $color-black-russian;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: background-color $trans-03;

    &[aria-selected="true"] {
      color: $color-neon-blue;

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          color: $color-mid-grey;
        }
      }
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }
  }

  &__text {
    flex-shrink: 0;
    width: 80%;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    transition: opacity $trans-03;

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin-left: 5px;

    svg {
      transition: transform $trans-03;
    }
  }

  &.is-disabled {
    pointer-events: none;

    .custom-select__list {
      display: none;
    }
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 30px));
    }
  }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__icon {
      svg {
        transform: rotate(180deg);
        transition: transform $trans-03;
      }
    }

    .custom-select__label {
      opacity: 0;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__icon {
      svg {
        color: $color-neon-blue;
      }
    }
  }
}

.custom-select--filter-style {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -18px;
    margin-top: -11px;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-filter.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
